.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 8px 0 0;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__link {
  color: #333; 
  text-decoration: none; 
  font-weight: normal; 
}

.header__content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 24px;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  text-align: center;
  max-width: 635px;
  margin-top: 128px; 
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 515px;
  margin-top: 32px;
}

.header__image {
  max-width: 636px;
  margin-top: 32px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  box-sizing: border-box;
}

.header__address {
  color: #838383;
}

.content {
  padding: 20px;
}

.staff {
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover; 
  padding: 100px 0 140px;
}

.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; 
  max-width: 760px;
  margin: 68px auto 0; 
  list-style-type: none; 
  padding: 0; 
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
  color: #ffffff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  width: 360px; 
  height: 420px; 
}
.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin-top: auto; 
  margin-bottom: 0; 
  margin-left: 0; 
  margin-right: 0; 
  font-size: 14px;
  line-height: 20px;
  color: #838383;
}
.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: 159px;
  left: 125px;
}

.person_name_burbidge {
  top: -30px;
  left: 319px;
}

.person_name_cannon {
  top: 79px;
  left: 142px;
}

.person_name_mitchell {
  top: 82px;
  left: 18px;
}

.person_name_tarter {
  top: 216px;
  left: 96px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
